.btn {
  transition: all 0.2s ease;
  border: none;
  display: block;
  padding: 10px 50px;
  border-radius: 5px;
  color: #ffffff;
  background: #363636;
  cursor: pointer;
  &:hover {
    background: linear-gradient(to right,#876c4a 0,#f9e0b4 48%,#876c4a 100%);
    color: #000000;
  }
}