.social-link {
  opacity: 0.75;
  // transition: all 0.2s ease;
  display: block;
  width: 18px;
  height: 18px;
  font-size: 0;
  background-position: center;
  background-repeat: no-repeat;
  &--contacts {
    background-image: url("../assets/images/contacts.png");
    // margin-right: 40px;
  }
  &--ok {
    background-image: url("../assets/images/ok.png");
    // margin-right: 15px;
  }
  &--vk {
    background-image: url("../assets/images/vk.png");
  }
  &--mr15 {
    margin-right: 15px;
  }
  &--mr40 {
    margin-right: 40px;
  }
  &:hover {
    opacity: 1;
  }
}