/* development colors */
$temp1: rgba(#ff0032, 0.3); // pink
$temp2: rgba(#00ff32, 0.3); // green
$temp3: rgba(#6464ff, 0.3); // blue
$temp4: rgba(#ffff32, 0.3); // yellow
$temp5: rgba(#ff32ff, 0.3); // magenta
$temp6: rgba(#32ffff, 0.3); // cyan

.c1 {background-color: $temp1;} // pink
.c2 {background-color: $temp2;} // green
.c3 {background-color: $temp3;} // blue
.c4 {background-color: $temp4;} // yellow
.c5 {background-color: $temp5;} // magenta
.c6 {background-color: $temp6;} // cyan

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  min-height: 0;
  min-width: 0;
}

body {
  font-size: 18px;
  font-family: "Gotham Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  background-color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3 ,h4, h5, h6{
  margin: 0;
  padding: 0;
}

button, input, select {
  outline: none;
}

// html {
//   scroll-behavior: smooth; // плавный скролл
// }

// html {
//   user-select: none; // autoprefixer check
// }

body {
  -webkit-tap-highlight-color: transparent; // убрать синий БГ при таче
}

.container {
  // background-color: $temp1;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  border-top: 1px solid transparent;
  @media (max-width: 1719px) {
    max-width: 1200px;
  }
  @media (max-width: 1279px) {
    max-width: 960px;
  }
  @media (max-width: 991px) {
    max-width: 720px;
  }
  @media (max-width: 767px) {
    max-width: 540px;
  }
  @media (max-width: 575px) {
    max-width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
}

// .hide {
//   display: none !important;
// }

// .fade {
//   visibility: hidden !important;
//   opacity: 0 !important;
// }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}