.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  border-top: 1px solid transparent;
  @media (max-width: 1719px) {
    max-width: 1200px;
  }
  @media (max-width: 1279px) {
    max-width: 960px;
  }
  @media (max-width: 991px) {
    max-width: 720px;
  }
  @media (max-width: 767px) {
    max-width: 540px;
  }
  @media (max-width: 575px) {
    max-width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.hide {
  display: none !important;
}

.fade {
  visibility: hidden !important;
  opacity: 0 !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}