.pagination {
  display: flex;
  justify-content: center;
  @media (max-width: 767px) {
    font-size: 14px;
  }
  &__link {
    transition: all 0.2s ease;
    border: 1px solid transparent;
    min-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    color: var(--common-text-color);
    background-color: #363636;
    border-radius: 5px;
    cursor: pointer;
    @media (max-width: 767px) {
      min-width: 40px;
      height: 40px;
      padding: 5px 10px;
    }
    @media (max-width: 575px) {
      font-size: 10px;
      min-width: 20px;
      height: 30px;
      padding: 5px;
    }
    &:not(:last-child) {
      margin-right: 10px;
      @media (max-width: 575px) {
        margin-right: 5px;
      }
    }
    &:hover {
      background: linear-gradient(to right,#876c4a 0,#f9e0b4 48%,#876c4a 100%);
      color: var(--dark-text-color);
    }
    &--disabled {
      color: #565656;
      &:hover {
        color: #565656;
        background: #363636;
        cursor: default;
      }
    }
    &--active {
      color: #363636;
      background-color: var(--light-bg-color);
    }
  }
}