:root {
  --prime-font: "Gotham Pro", sans-serif;
  --second-font: "PT Serif", serif;
  --prime-color: #cdb66b;
  --light-color: #efefef;
  --dark-color: #000000;
  --common-text-color: var(--light-color);
  --dark-text-color: var(--dark-color);
  --common-bg-color: var(--dark-color);
  --light-bg-color: var(--light-color);
}